<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<head>
  <meta charset="UTF-8">
  <title>Edit Message</title>
</head>

<body>
  <h1>Edit Message</h1>

  <form action="/edit/<%= message.id %>" method="POST">
    <textarea name="message" rows="5" required><%= message.message %></textarea>
    <button type="submit">Save</button>
  </form>

  <form action="/" method="GET" style="margin-top:10px;">
    <button type="submit">Cancel</button>
  </form>
</body>

</html>